.cont {
    background-color: rgb(247, 210, 216);
}

.title {
    font-family: 'Gotu', sans-serif;
}

.menu {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 14px;
}

.me-auto {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 14px;
}